.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #cecece;
}

.instructions {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}